{% load crispy_forms_tags %}
<style>
  .hidden {
    display: None;
  }
</style>

<form action="{{ products_list.get_absolute_url }}" method="post" >
  {% csrf_token %}
  {{ additional_products_list_form.management_form}}
  <table class="table" id="product-formset">
    {% for form in additional_products_list_form %}
      {% if forloop.first %}
        <thead>
          <tr>
            {% for field in form.visible_fields %}
              <th> {{ field.label|capfirst }} </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody id="table-content">
      {% endif %}
        <tr class="product-form">
          {% for field in form.visible_fields %}
            <td>
            {# Include the hidden fields in the form #}
            {% if forloop.first %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
            {% endif %}
              {{ field.errors.as_ul }}
              {{ field }}
            </td>
          {% endfor %}
        </tr>

    {% endfor %}
    </tbody>
  </table>
  <table class="hidden">
    <tr id="empty-form">
    {% for field in additional_products_list_form.empty_form %}
      <td>
          {# Include the hidden fields in the form #}
          {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
          {% endif %}
            {{ field.errors.as_ul }}
            {{ field }}
      </td>
    {% endfor %}
    </tr>
  </table>
  <button id="add-more" type="button" class="btn btn-success">Adicionar outro produto</button>

  <input class="btn btn-success" type="submit" value="Salvar">

</form>
