{% extends "base.html" %}

{% block content %}

  <div class="row justify-content-md-center mt-4">
    <div class="col-7">
      <h3>{{ cell.name }}</h3>
      <p>{{ cell.description }}</p>
    </div>
    <div class="col-3">
      {% if is_member %}
        {% if is_organizer %}
          <div class="row">
            <a href="{{ cell.get_absolute_url }}/membros" type="button" class="btn btn-outline-secondary">MEMBROS</a>
          </div>
        {% endif%}
        <div class="row mt-1">
          <a href="{{ cell.get_additional_products_list_url }}" type="button" class="btn btn-primary">PEDIR ADICIONAIS</a>
        </div>
      {% else %}
        <div class="row mt-1">
          <a href="{{ cell.get_new_membership }}" type="button" class="btn btn-primary">ENTRAR</a>
        </div>
      {% endif %}
      <div class="row mt-1">
        <a href="{% url 'account_signup' %}?{{ cell_membership_url }}" class="btn btn-alert">COMPARTILHAR</a>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center mt-4">
    <div class="col-10">
      {% if cell.localtion %}
      <h5>Localização:</h5>
      {{ cell.location.address }}
      {% endif %}
    </div>
  </div>
{% endblock content %}
