{% extends "base.html" %}

{% block content %}

  <div class="row justify-content-center mt-4">
    <div class="col-12 col-md-8">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <h3 class="fw-bold">Célula {{ cell.name }}</h3>
        <h6 class="d-flex align-items-end">Criada {{ cell.created }}</h6>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column flex-md-row justify-content-between">
            <p class="fs-5">{{ cell.description }}</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column flex-md-row justify-content-between">
            <h5 class="fw-bold">Dia de partilha: </h5>
            <h5>{{ location.share_day }}</h5>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column flex-md-row justify-content-between">
            <h5 class="fw-bold">Horário: </h5>
            <h5>{{ cell.share_time }}</h5>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column flex-md-row justify-content-between">
            <h5 class="fw-bold">Local: </h5>
            <h5>{{ location.get_full_address }}</h5>
          </div>
        </div>
      </div>
      {% if cell.statute_file %}
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column flex-md-row justify-content-between">
            <h5 class="fw-bold">Acordos coletivos: </h5>
            <a class="btn btn-success" target="_blank" href="{{ cell.statute_file.url }}">VISUALIZAR</a>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column flex-md-row justify-content-between">
            <h5 class="fw-bold">Atendida por:</h5>
            <h5 class="fw-bold"><a href="{{ cell.producer_cell.get_detail_url }}">{{ cell.producer_cell }}</a></h5>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        {% if is_cell_member %}
          {% if is_organizer %}
            <div class="d-flex flex-column">
              <a href="{{ cell.get_management_url }}" class="btn btn-secondary mb-2">COORDENAR</a>
            </div>
          {% endif %}
          <div class="d-flex flex-column">
            <a href="{% url 'baskets:request_products' %}" class="btn btn-success mb-2 d-grip">PEDIR ADICIONAIS</a>
          </div>
        {% else %}
          <div class="d-flex flex-column">
            <a href="{{ cell.get_apply_url }}"  class="btn btn-success">ENTRAR</a>
          </div>
        {% endif %}
      </div>
<!--      <div class="row justify-content-md-center mt-4">-->
<!--        <div class="col-10">-->
<!--          {% if cell.localtion %}-->
<!--          <h5>Localização:</h5>-->
<!--          {{ cell.location.address }}-->
<!--          {% endif %}-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
{% endblock content %}
