{% extends "base.html" %}

{% block content %}
  <div class="d-flex flex-column mt-4">
    <div class="d-flex justify-content-center">
      <img class="img-fluid" style="width: 50%;" src="/static/images/home-image.png">
    </div>
    <div class="d-flex justify-content-center mt-4">
      <a class="btn btn-success btn-lg" href="{% url 'cells:list_cells' %}">Conhecer Células</a>
    </div>
    <div class="d-flex flex-column mt-5">
      <p class="lead">Cada Célula de Consumidores Responsáveis (CCR) corresponde a um grupo de
        compra-venda direta entre consumidores
        e um grupo de agricultores familiares de alimentos orgânicos certificados pela Rede Ecovida de Agroecologia.
      O projeto surgiu da necessidade de grupos de agricultores familiares viabilizarem mercados mais justos e rentáveis
        para seus produtos, ao passo que crescia a demanda por alimentos mais saudáveis e de origem orgânica em
        Florianópolis-SC.</p>
    </div>
  </div>

{% endblock content %}

