{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-md-center mt-4">
    <div class="col-sm-11 col-lg-8">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      <div class="row">
        <h3>Produtos adicionais {{ basket.week_cycle }} - {{ basket.week_cycle.month_cycle }}</h3>
        <h5>Data do pedido: {{ basket.created_date }}</h5>
      </div>
      {% for product in basket.products.all %}
        <div class="card">
          <div class="card-body">

              <div class="d-flex flex-column flex-md-row justify-content-md-between justify-content-sm-center">
                <div class="d-flex flex-column">
                  <div class="d-flex align-self-center align-self-md-baseline h3">
                      {{ product.name }}
                  </div>
                  <div class="d-flex align-self-center align-self-md-baseline">
                    <div>
                      R$<span id="product_price_{{ forloop.counter0}}">{{ product.price|floatformat:2 }} </span>
                      <span>({{ product.unit }})</span>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-column align-self-center">
                  <div class="d-flex flex-row">
                    <div class="d-flex align-self-center">
                      {% if product.unit.increment < 1 %}
                        <div class="h3">{% widthratio product.requested_quantity 1 1000 %}</div>
                      {% else %}
                        <div class="h3">{{ product.requested_quantity|floatformat:0 }}</div>
                      {% endif %}
                    </div>
                    <div class="d-flex align-self-center">
                      <div class="h4">{{ product.unit.unit }}</div>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
      {% endfor %}
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column h5">Preço total: </div>
            <div class="d-flex flex-column h5">
              <div>R${{ basket.total_price|floatformat:2 }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-grid mt-2">
        <a class="btn btn-success" href="{% url 'baskets:basket_requested' request_uuid=basket.uuid %}">Informações pagamento</a>
      </div>
    </div>

  </div>


{% endblock %}
