{% extends "base.html" %}


{% block content %}
    <div class="row justify-content-md-center mt-4">
      <div class="col-sm-11 col-lg-8">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      <h2>Faça o Pix para a chave abaixo e envie o comprovante clicando no botão:</h2>
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column flex-md-row justify-content-between">
              <h4 class="fw-bold">Responsável:</h4>
              <h4 class="fw-bold">{{ payment_info.receiver_name }}</h4>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column flex-md-row  justify-content-between">
            <div class="d-flex me-1">
              <h4 class="fw-bold">Chave pix:</h4>
            </div>
            <div class="d-flex">
              <h5><span type="button" class="badge bg-secondary" onclick="copyPixKeyToClipboard()">COPIAR</span></h5>
              <h4 id="pix_key" class="fw-bold ms-2 ">{{ payment_info.pix_key }}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column h4 fw-bold">Preço total: </div>
            <div class="d-flex flex-column h4 fw-bold">
              <div>R${{ basket.total_price|floatformat:2 }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="mb-1 d-grid">
          <a class="btn btn-secondary" href="{{ basket.get_absolute_url }}">VER PEDIDO</a>
        </div>
        <div class="mb-1 d-grid">
          <a class="btn btn-success" target="_blank" href="{{ send_payment_confirmation_url }}">ENVIAR COMPROVANTE</a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function copyPixKeyToClipboard() {
      var pixKeyElement = document.getElementById("pix_key");
      navigator.clipboard.writeText(pixKeyElement.textContent);
    }

  </script>

{% endblock %}
