{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-md-center mt-4">
    <div class="col-sm-11 col-lg-8">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      <div class="row">
        <h3 class="fw-bold">Cesta de adicionais</h3>
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <h6>{{ basket.week_cycle.month_cycle }} - {{ basket.week_cycle }}</h6>
          <h6>{{ basket.created_date }}</h6>
        </div>

      </div>
      {% for product in basket.products.all %}
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
              <div class="d-flex flex-column">
                <div class="h4">{{ product.name }}</div>
                <div class="h7">
                  R$<span id="product_price_{{ forloop.counter0}}">{{ product.price|floatformat:2 }} </span>
                  <span>{{ product.unit.name }}</span>
                </div>
              </div>
              <div class="d-flex flex-row">
                <div class="d-flex align-self-center">
                  <div class="h3">{{ product.requested_quantity|floatformat:0 }}</div>
                </div>
                <div class="d-flex align-self-center">
                  <div class="h4">{{ product.unit.unit }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column h4">Preço total: </div>
            <div class="d-flex flex-column h4">
              <div>R${{ basket.total_price|floatformat:2 }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-grid mt-2">
        <a class="btn btn-secondary mb-2" href="{% url 'baskets:consumer_home' %}">CESTAS</a>
        {% if basket.is_paid %}
          <a class="btn btn-success disabled mb-2" href="{% url 'baskets:basket_detail_edit' basket_number=basket.number %}">EDITAR PEDIDO</a>
        {% else %}
          <a class="btn btn-danger mb-2" href="{% url 'baskets:basket_detail_edit' basket_number=basket.number %}">EDITAR PEDIDO</a>
        {% endif %}

        {% if basket.is_paid %}
          <a class="btn btn-success disabled" href="{% url 'baskets:basket_requested' request_number=basket.number %}">PAGO</a>
        {% else %}
          <a class="btn btn-success" href="{% url 'baskets:basket_requested' request_number=basket.number %}">PAGAMENTO</a>
        {% endif %}
      </div>
    </div>

  </div>


{% endblock %}
