{% extends "base_producer.html" %}

{% block content %}

  <div class="row mt-4">
    <div class="col-md-10">
      <div class="row mb-4">
        <div class="col-6">
          <h3> Célula {{ cell }} </h3>
        </div>
        <div class="col-6">
          <a href="{% url 'producer:new_week_cycle' cell_slug=cell.slug %}" class="btn btn-success float-end">Iniciar novo ciclo</a>
        </div>
      </div>
      {% for cycle in cycles %}
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-6">Ciclo #{{ cycle.number }}</div>
              <div class="col-3">
                <a href="{{ cycle.get_report_url }}" class="btn btn-success float-end">Relatório</a>
              </div>
              <div class="col-3">
                <a href="{{ cycle.get_additional_products_url }}" class="btn btn-success float-end">Lista de Adicionais</a>
              </div>
            </div>
          </div>
        </div>


      {% endfor %}
    </div>
  </div>
{% endblock content %}
