{% extends "base.html" %}

{% block content %}

  <div class="row justify-content-md-center mt-4">
    <div class="col-8">
      {% if not baskets %}
        <h1>
          Parece que você ainda não possui cestas.
        </h1>

      <h3>Considere entrar em uma célula, <a class="" href="{% url 'cells:list_cells' %}">veja mais.</a></h3>

      {% endif %}
      {% for basket in baskets %}
        <div class="row">Cesta #{{ forloop.counter }} {{ basket.created_date }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
