{% extends "base_producer.html" %}

{% block content %}
  <div class="row mt-4">
    <div class="col-md-10">
      <h3 class="mb-4"> Células: </h3>
        {% for producer_cell, consumer_cells in cells %}
          {% if cells|length > 1 and consumer_cells %}
            <h5>{{ producer_cell.name}}</h5>
          {% endif %}
          {% for cell in consumer_cells %}
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-10">{{ cell.name }}</div>
                  <div class="col-2">
                    <div class="row float-end">
                      <a class="stretched-link" href="{{ cell.get_cycles_url }}"><i class="bi-gear"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor%}
        {% endfor %}
    </div>
  </div>
{% endblock content %}
