{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-md-center mt-4">
    <div class="col-sm-11 col-lg-8">
      <h3 class="fw-bold">Minhas cestas</h3>
      {% if not baskets %}
        <h1>
          Você ainda não possui cestas.
        </h1>
        <h3>Considere entrar em uma célula, <a class="" href="{% url 'cells:list_cells' %}">veja mais.</a></h3>
      {% endif %}
      {% for basket in baskets %}
      <div class="card">
        <div class="card-body">
          <a href="{{ basket.get_absolute_url }}" class="stretched-link"></a>
          <h5 class="mb-1">{{ basket.week_cycle.month_cycle }} - {{ basket.week_cycle }}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}
