{% extends "base_producer.html" %}

{% block content %}
  <div class="row mt-4">
    <div class="col-md-10">
      <div class="row mb-4">
        <div class="col-12">
          <h3> Ciclos </h3>
        </div>
      </div>
      {% for cycle in month_cycles %}
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-10">{{ cycle }}</div>
              <div class="col-2">
                <div class="row float-end">
                  <a class="stretched-link" href="{% url 'producer:month_cycle_detail' month_identifier=cycle.get_identifier %}"><i class="bi-gear"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
