{% extends "base_producer.html" %}


{% block content %}
  <div class="row mt-4">
    <div class="col-md-10">
      <h3 class="mb-4">Lista de pedidos:</h3>

      {% include "baskets/partials/product_detail_form.html" %}

      <script type="text/javascript">
        const addButton = document.getElementById("add-more")
        const totalForms = document.getElementById("id_products-TOTAL_FORMS")
        addButton.addEventListener("click", add_new_form)

        function add_new_form(event){
          if (event) {
            event.preventDefault()
          }
          const currentForms = document.getElementsByClassName("product-form")

          let currentFormLength = currentForms.length

          const formSetTarget = document.getElementById("table-content")
          const copyEmptyForm = document.getElementById("empty-form").cloneNode(true)
          copyEmptyForm.setAttribute("class", "product-form")
          copyEmptyForm.setAttribute("id", `form-${currentFormLength}`)

          totalForms.setAttribute("value", currentFormLength + 1)

          const regex = new RegExp("__prefix__", "g")
          copyEmptyForm.innerHTML = copyEmptyForm.innerHTML.replace(regex, currentFormLength)


          formSetTarget.append(copyEmptyForm)
        }
      </script>
    </div>
  </div>

{% endblock content %}
