{% extends "base_producer.html" %}

{% block content %}
  <div class="row mt-4">
    <div class="col-md-10">
      <div class="row mb-4">
        <div class="col-12">
          <h3> Pedidos {{ week_cycle }} </h3>
        </div>
      </div>
      {% for basket in baskets %}
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row">
              <div class="d-flex row">
                <h4>{{ basket.person.name }}</h4>
                <h6>CCR: {{ basket.consumer_cell }}</h6>
              </div>
              <div class="d-flex ms-auto align-items-center">
                {% if basket.is_paid %}
                  <a class="btn btn-success disabled" href="">PAGO</a>
                {% else %}
                  <a class="btn btn-success" href="{% url 'producer:producer_payment_confirmation' basket_number=basket.number %}">CONFIRMAR PAGAMENTO</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
