{% extends 'base_producer.html' %}
{% load mathfilters %}

{% block content %}
  <div class="row mt-4">
    <div class="col col-12 col-md-8">
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row">
          <h2>Relatório por CCRs:</h2>
        </div>
      </div>
      {% for cell, baskets in cells.items %}
        <div class="d-flex flex-row mb-3 mt-3">
          <h4 class="fw-bold me-2">CCR {{ cell.name }}:</h4>
          <h4 class="">{{ baskets|length }} pedidos </h4>
        </div>

        {% for basket in baskets %}
          <div class="card mb-2">
            <div class="card-header">
              <a class="stretched-link" data-bs-toggle="collapse" href="#collapseExample{{ basket.number }}" role="button" aria-expanded="true" aria-controls="collapseExample{{  basket.number }}"></a>
              <div class="fw-bold h5 mt-1">{{ basket.person.name }}</div>
            </div>
            <div class="collapse show" id="collapseExample{{  basket.number }}">
              {% for product in basket.products.all %}
                <div class="card-body border-bottom">
                  <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex flex-column">
                      <div class="h4">{{ product.name }}</div>
                    </div>
                    <div class="d-flex flex-row">
                      <div class="d-flex align-self-center">
                        {% if product.unit.increment < 1 %}
                          <div class="h3">{{ product.requested_quantity|floatformat:1 }}</div>
                          <div class="h4 align-self-center">
                            {{ product.unit.name }}
                          </div>
                        {% else %}
                          <div class="h3">{{ product.requested_quantity|floatformat:0 }}</div>
                          <div class="h4 align-self-center">
                            {{ product.unit.unit }}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
