{% extends 'base_producer.html' %}
{% load mathfilters %}

{% block content %}
  <div class="row mt-4">
    <div class="col col-12 col-md-8">
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex">
          <h3 class="fw-bold">Relatório por CCR</h3>
        </div>
        <div class="d-flex">
          <button class="btn btn-success" onclick="window.print();return false;">
            <i class="bi bi-printer"></i>
          </button>
        </div>
      </div>
      {% for cell, baskets in cells.items %}
        <div class="d-flex flex-row mt-3 justify-content-center">
          <h4 class="fw-bold me-2">CCR {{ cell.name }}:</h4>
          <h4 class="">{{ baskets|length }} pedido(s) </h4>
        </div>

        {% for basket in baskets %}
          <div class="h5"><span class="fw-bold">Consumidor(a):</span> {{ basket.person.name }}</div>
          <table class="table">
            <tbody>
              {% for product in basket.products.all %}
                <tr>
                  <td class="h5">{{ product.name }}</td>
                  <td class="h5">{{ product.formatted_requested_quantity }}</td>

                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
