{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="row justify-content-md-center mt-4">
    <div class="col-sm-11 col-lg-8">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      {% if closed_cycle %}
        <h3 class="fw-bold">Célula {{ cell.name }}:</h3>
        <h6>O ciclo ainda não começou!</h6>
      {% elif is_cycle_over %}
        <h3 class="fw-bold">Célula {{ cell.name }}:</h3>
        <h6>Pedidos encerrados, até semana que vem ;)</h6>
      {% else %}
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <h3 class="fw-bold">Célula {{ cell.name }}</h3>

        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <h6>Pedidos até {{ cycle.request_day }}</h6>
          <h6 class="d-flex align-items-center">{{ cycle.month_cycle }} - {{ cycle }}</h6>
        </div>
        <div class="row">
            <form action="{{ cycle.get_request_products_url }}" method="post">
              {% csrf_token %}
              {{ basket_form.management_form }}
              <div id="products">

                {% for form in basket_form %}
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column flex-md-row justify-content-md-between justify-content-sm-center">
                        <div class="d-flex flex-column">
                          <div class="d-flex align-self-center align-self-md-baseline h3">
                              {{ form.name.value }}
                          </div>
                          <div class="d-flex align-self-center align-self-md-baseline">
                            <div class="mb-2">
                              R$<span id="product_price_{{ forloop.counter0}}">{{ form.price.value|floatformat:2 }} </span>
                              <span>({{ form.unit.value }})</span>
                            </div>
                          </div>
                        </div>
                        <div class="d-flex flex-column align-self-center">
                          <div class="d-flex flex-row">
                            <div class="align-self-center" onchange="calculate_basket_total()">
                              <div class="requested_quantity">
                                {{ form.requested_quantity }}
                              </div>
                              {% if form.requested_quantity.errors %}
                              <div class="alert-danger p-2 mt-1" role="alert">
                                {{ form.requested_quantity.errors.0 }}
                              </div>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex flex-column h5">Preço total: </div>
                    <div class="d-flex flex-column h5">
                      <div>R$<span id="total_price">0,00</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column">
                <button class="btn btn-success btn-block mt-1" type="submit">Enviar pedido</button>
              </div>
            </form>
        </div>
      {% endif %}
    </div>
  </div>
  <script type="text/javascript">
    function calculate_basket_total() {
      var product_total_prices = document.querySelectorAll('[id^="product_price_"]')
      var total_basket_price = 0.0
      for (let product_count=0; product_count < product_total_prices.length; product_count++){
        var requested_quantity = document.getElementById("id_form-"+product_count+"-requested_quantity").value;
        var product_price_string = document.getElementById("product_price_"+product_count).innerHTML.replace(',', '.')
        var product_price = parseFloat(product_price_string);
        var product_total_price = requested_quantity * product_price;

        total_basket_price += product_total_price;
      }
      document.getElementById("total_price").innerHTML = total_basket_price.toLocaleString("pt-BR", {minimumFractionDigits: 2, maximumFractionDigits: 2});
    }

  </script>

{% endblock content %}
