{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="row justify-content-md-center mt-4">
    <div class="col-sm-11 col-lg-8">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      {% if closed_cycle %}
        <h3 class="fw-bold">Célula {{ cell.name }}:</h3>
        <h6>O ciclo ainda não começou!</h6>
      {% elif is_cycle_over %}
        <h3 class="fw-bold">Célula {{ cell.name }}:</h3>
        <h6>Pedidos encerrados, até semana que vem ;)</h6>
      {% else %}
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <h3 class="fw-bold">Célula {{ cell.name }}</h3>

        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <h6>Pedidos até <span class="fw-bold">{{ cycle.request_day }}</span></h6>
          <h6 class="d-flex align-items-center">{{ cycle.month_cycle }} - {{ cycle }}</h6>
        </div>
        <div class="row">
            <form action="{{ cycle.get_request_products_url }}" method="post">
              {% csrf_token %}
              {{ basket_form.management_form }}
              <div id="products">

                {% for form in basket_form %}
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column flex-md-row justify-content-md-between justify-content-sm-center">
                        <div class="d-flex flex-column">
                          <div class="d-flex align-self-center align-self-md-baseline h4 fw-bold">
                              {{ form.name.value }}
                          </div>
                          <div class="d-flex align-self-center align-self-md-baseline">
                            <div>
                              R$<span id="product_price_{{ forloop.counter0}}">{{ form.price.value|floatformat:2 }}/</span><span>{{ form.unit_name }}</span>
                            </div>
                          </div>

                        </div>
                        <div class="d-flex flex-column align-self-center">
                          <div class="d-flex flex-row">
                            <div>
                              <div class="input-group inline-group">
                                <div class="input-group-prepend">
                                  <a onclick="decrementQuantity({{forloop.counter0}})" class="btn btn-success">
                                    <i class="bi-dash-lg" style="font-size: 1rem; color: white;"></i>
                                  </a>
                                </div>
                                {{ form.requested_quantity }}
                                <div class="input-group-append">
                                  <a onclick="incrementQuantity({{forloop.counter0}})" class="btn btn-success">
                                    <i class="bi-plus-lg" style="font-size: 1rem; color: white;"></i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% if form.requested_quantity.errors %}
                            <div class="alert-danger p-2 mt-1" role="alert">
                              {{ form.requested_quantity.errors.0 }}
                            </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex flex-column h4 fw-bold">Preço total: </div>
                    <div class="d-flex flex-column h4 fw-bold">
                      <div>R$<span id="total_price">0,00</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column">
                <button class="btn btn-success btn-block mt-1" type="submit">ENVIAR PEDIDO</button>
              </div>
            </form>
        </div>
      {% endif %}
    </div>
  </div>
  <script type="text/javascript">
    function calculate_basket_total() {
      var product_total_prices = document.querySelectorAll('[id^="product_price_"]')
      var total_basket_price = 0.0
      for (let product_count=0; product_count < product_total_prices.length; product_count++){
        var quantity_component = document.getElementById("id_form-"+product_count+"-requested_quantity");
        var requested_quantity = quantity_component.value;
        var just_quantity = requested_quantity.replace(/\D/g, "")
        var product_price_string = document.getElementById("product_price_"+product_count).innerHTML.replace(',', '.')
        var product_price = parseFloat(product_price_string);
        var increment = quantity_component.step;

        if (increment >= 1){
          var product_total_price = just_quantity * product_price;
        } else {
          var product_total_price = just_quantity * product_price / 1000;
        }
        total_basket_price += product_total_price;
      }
      document.getElementById("total_price").innerHTML = total_basket_price.toLocaleString("pt-BR", {minimumFractionDigits: 2, maximumFractionDigits: 2});
    }
    function updateUnit(){
      var product_total_prices = document.querySelectorAll('[id^="product_price_"]');
      for (let product_count=0; product_count < product_total_prices.length; product_count++){
        var quantity_component = document.getElementById("id_form-"+product_count+"-requested_quantity");
        var requested_quantity = quantity_component.value;
        var just_quantity = requested_quantity.replace(/\D/g, "")
        var unit = quantity_component.dataset.unit;

        if (just_quantity > 0){
          quantity_component.value = `${just_quantity} ${unit}`;
        }
      }
    }

    document.addEventListener('DOMContentLoaded', function() {
       calculate_basket_total();
       updateUnit();
    }, false);
    function decrementQuantity(product_id){
      var quantity_component = document.getElementById("id_form-"+product_id+"-requested_quantity");
      var increment = quantity_component.step
      var actual_value = quantity_component.value;
      var unit = quantity_component.dataset.unit;
      var new_value = 0.0;
      var just_value = actual_value.replace(/\D/g, "")

      if (increment >= 1) {
        new_value = parseInt(just_value) - parseInt(increment);
      }
      else{
        increment = increment * 1000;
        new_value = parseInt(just_value) - parseInt(increment);
      }
      quantity_component.value = `${new_value} ${unit}`;

      if (new_value <= 0) {
        quantity_component.value = 0;
      }

      calculate_basket_total();
    }

    function incrementQuantity(product_id){
      var quantity_component = document.getElementById("id_form-"+product_id+"-requested_quantity");
      var increment = quantity_component.step
      var actual_value = quantity_component.value;
      var unit = quantity_component.dataset.unit;
      var just_value = actual_value.replace(/\D/g, "");
      var new_value = 0.0;

      if (increment >= 1) {
        new_value = parseInt(just_value) + parseInt(increment);
      }
      else{
        increment = increment * 1000;
        if (just_value > 1000){
          new_value = parseInt(just_value) + parseInt(increment);
        }
        else{
          new_value = parseInt(just_value) + parseInt(increment);
        }
      }
      quantity_component.value = `${new_value} ${unit}`;
      calculate_basket_total();
    }

  </script>

{% endblock content %}
