{% extends "base_producer.html" %}

{% block content %}
  <div class="row mt-4">
    <div class="col-sm-11 col-lg-8">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      <div class="row">
        <h3>Produtos vendidos:</h3>
        <h5>{{ week_cycle }}</h5>
      </div>
      {% for product in products %}
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
              <div class="d-flex flex-column">
                <div class="h4">{{ product.products__name }}</div>
              </div>
              <div class="d-flex flex-row">
                <div class="d-flex align-self-center">
                  {% if product.products__unit__increment < 1 %}
                    <div class="h3">{{ product.requested_quantity|floatformat:1 }}</div>
                    <div class="h4 align-self-center">
                      {{ product.products__unit__name }}
                    </div>
                  {% else %}
                    <div class="h3">{{ product.requested_quantity|floatformat:0 }}</div>
                    <div class="h4 align-self-center">
                      {{ product.products__unit__name }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>


{% endblock %}
