{% extends "account/base.html" %}

{% load account socialaccount %}
{% load static i18n compress%}
{% load crispy_forms_tags %}
{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block inner %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
  <p>
    {% translate "Please sign in with one of your existing third party accounts:" %}
    {% if ACCOUNT_ALLOW_REGISTRATION %}
      {% blocktranslate trimmed %}
        Or, <a href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:
      {% endblocktranslate %}
    {% endif %}
  </p>

  <div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% translate "or" %}</div>

  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<div class="card mt-4">
  <div class="col p-4">
    <img class="img-fluid" src="/static/images/home-image.png">

    <div class="row p-3">
      <h3 class="form text-center">Entrar</h3>
    </div>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    <form class="form" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="col">
        <button class="btn btn-success" type="submit" style="width:100%;">ENTRAR</button>
      </div>
    </form>
    <div class="col col-sm-12">
      <a class="col col-sm-12" href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>

      {% if ACCOUNT_ALLOW_REGISTRATION %}
        <p class="col col-sm-12" style="margin-bottom:30px;">
            Não possuí uma conta ainda, <a href="{{ signup_url }}">cadastre-se aqui</a>.

        </p>
      {% endif %}

    </div>
  </div>

</div>


{% endblock %}
